:root {
	--bodypadding: 12px;
	--sitewidth: 1060px;
	--subcolwidth:25%;
	--xcolwidth:15%;
	--colgap:5px;
}

@media screen and (max-width: 800px) {
	:root {
		--subcolwidth:240px;
	}
}

body {
	padding:var(--bodypadding);
}

body.col-SM #xcol, body.col-M #xcol, body.col-MX #subcol, body.col-M #subcol {
	display:none;
}


.menu div {
	display: inline-block;
}

#uberContainer {
	max-width: var(--sitewidth);
	margin-left:auto;
	margin-right:auto;
}

body.spanning #uberContainer {
	max-width:100%;
}

body.spanning .spanning .inner {
	max-width: var(--sitewidth);
	margin-left: auto;
	margin-right:auto;
	position: relative;
}

#header {grid-area:header;}
#subcol {grid-area:subcol;}
#maincol {grid-area:maincol;}
#xcol {grid-area:xcol;}
#content {grid-area:content;}
#footer {grid-area:footer;}
#topnav {grid-area:topnav;}
#contentheader {grid-area:contentheader;}
#contentfooter {grid-area:contentfooter;}
#maincol_top {grid-area: maincol_top}
#maincol_left{grid-area: maincol_left}
#maincol_right{grid-area: maincol_right}
#maincol_bottom{grid-area: maincol_bottom}
#footer_left{grid-area: footer_left}
#footer_right{grid-area: footer_right}
#footer_middle{grid-area: footer_middle}

#uberContainer {
	min-height:100%;
	display: grid;
	grid-template-areas: "header"
						 "topnav"	 
						 "content" 
						 "footer";
	/*grid-template-rows: 200px auto 100px;*/
	grid-template-rows: min-content min-content auto min-content;
}

.inner {
	min-height:100%;
}

#content .inner {
	display: grid;
	grid-template-areas: "contentheader"
						 "contentwrap"	 
						 "contentfooter";
	grid-template-rows: min-content  auto min-content;
}

#contentwrap {
	display: grid;
	grid-template-areas: "subcol maincol xcol";
	grid-column-gap: var(--colgap);
	grid-template-columns: var(--subcolwidth) auto var(--xcolwidth);
}

body.spanning #content {
	display:block;
}

#footer .inner {
	display: grid;
	grid-template-areas: "footer_left footer_middle footer_right";
	grid-template-columns: 33% auto 33%;
}

 body.col-M #contentwrap {
	display: block;
}


body.col-MX #contentwrap .inner {
	grid-template-areas: "maincol xcol";
	grid-template-columns: auto var(--xcolwidth);
}

body.col-SM #contentwrap .inner {
	grid-template-areas: "subcol maincol";
	grid-template-columns:  var(--subcolwidth) auto;
}


body.col-MSX #contentwrap .inner {
	grid-template-areas: "maincol subcol xcol";
	grid-template-columns: auto var(--subcolwidth) var(--xcolwidth);
}

body.col-XMS #contentwrap .inner {
	grid-template-areas: "xcol maincol subcol";
	grid-template-columns: var(--xcolwidth) auto  var(--subcolwidth);
}

body.col-SXM #contentwrap .inner {
	grid-template-areas: "subcol xcol maincol ";
	grid-template-columns: var(--subcolwidth)  var(--xcolwidth) auto ;
}

body.col-XSM #contentwrap .inner {
	grid-template-areas: "xcol subcol maincol ";
	grid-template-columns: var(--xcolwidth) var(--subcolwidth)   auto ;
}

#maincol {
	display: grid;
	grid-template-areas: "maincol_top maincol_top" "maincol_left maincol_right" "maincol_bottom maincol_bottom";
	grid-template-rows: minmax(min-content, max-content) auto minmax(min-content, max-content);
	grid-template-columns: repeat(1fr);
}

@media screen and (max-width: 800px) {
	#uberContainer {
		grid-template-rows:  minmax(min-content, max-content) auto  minmax(min-content, max-content);
	}


	#contentwrap {
		display: grid;
		grid-template-areas: "subcol maincol" "subcol xcol";
		grid-template-columns: var(--subcolwidth) auto;
	}

	body.col-MX #contentwrap {
		grid-template-areas: "maincol xcol";
		grid-template-columns: auto var(--subcolwidth);
	}

	body.col-SM #contentwrap {
		grid-template-areas: "subcol maincol";
		grid-template-columns:  var(--subcolwidth); auto;
	}

	body.col-MSX #contentwrap {
		grid-template-areas: "maincol subcol" "xcol subcol";
		grid-template-columns: auto var(--subcolwidth);
	}

	body.col-XMS #contentwrap {
		grid-template-areas: " maincol subcol" "xcol subcol";
		grid-template-columns: auto var(--subcolwidth); 
	}

	body.col-SXM #contentwrap, body.col-XSM #contentwrap {
		grid-template-areas: " subcol maincol " "subcol xcol";
		grid-template-columns: var(--subcolwidth) auto;
	}



	#maincol {
		display: block;
		/*grid-template-areas: "maincol_top" "maincol_left" "maincol_right" "maincol_bottom";

		display: grid;
		grid-template-areas: "maincol_top"  
							"maincol_left maincol_right"
							"maincol_bottom";
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);*/
		/*grid-template-columns: repeat(1fr);*/
	}
}

@media screen and (max-width:630px) {
	
	#uberContainer {
		display: block;
	}

	.menu div {
		display: block;
	}

	#footer {
		display: grid;
		grid-template-areas: "footer_right" "footer_left" "footer_middle" ;
		grid-template-columns: auto;
	}

	#contentwrap,
	body.col-MSX #contentwrap,
	body.col-XMS #contentwrap,
	body.col-SXM  #contentwrap,
	body.col-XSM  #contentwrap {
		display: grid;
		grid-template-areas:  "maincol" "subcol" "xcol";
		grid-template-columns: auto;
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);

	}
	
	body.subcoltop #contentwrap {
		grid-template-areas: "subcol" "maincol" "xcol";
		grid-template-columns: auto;
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
	}

	body.col-MX #contentwrap {
		grid-template-areas: "maincol" "xcol";
		grid-template-columns: auto;
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
	}

	body.col-SM #contentwrap {
		grid-template-areas: "subcol" "maincol";
		grid-template-columns: auto;
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) ;
	}
	
}

