/* Static CSS for new var style grid styling */

:root {
	--mingridcol: 200px;
	--gridgap: 10px;
	--gridrowgap: var(--gridgap);
	--cols: 3;
	--fill: auto-fit;
}

.scheme-grid {
	display:grid;
	grid-template-columns: repeat(var(--fill), minmax(var(--mingridcol),1fr));
	grid-gap:var(--gridgap);
	grid-row-gap: var(--gridrowgap);
}

/*Set number of columns */
.scheme-grid-fixedcols {
	grid-template-columns: repeat(var(--cols), 1fr);
}

/*Fixed width */
.scheme-grid-fixed {
	grid-template-columns:  repeat(auto-fit, var(--mingridcol));
}

/* Exotica */
.scheme-grid-test {
	grid-template-columns: 200px repeat(auto-fit, minmax(var(--mingridcol),1fr)) 300px;
}

.flex {
	display: flex;
	grid-gap:var(--gridgap);
}

.flex-end {
	display: flex;
	justify-content: flex-end;
}

.flex-stretch > div {
	flex-grow: 1;
}