:root {
	--imagewidth: 40%;
}

.imageWrap img {
	max-width: 100%;
	height: auto;
}

.title {grid-area: title}
.imageWrap {grid-area: imageWrap}
.textWrap{grid-area: textWrap}

.item {
	display: grid;
	grid-auto-flow: row;
	grid-template-areas: "imageWrap" "title" "textWrap";
	grid-column-gap: 12px;
}

.item.notitle .title {
	display: none;
}

.item.left, .item.right {
	grid-template-rows: minmax(0, min-content) auto;
}

.item.htop {
	grid-template-areas: "title" "imageWrap" "textWrap";
}

.item.notitle {
	grid-template-areas: "imageWrap" "textWrap";
}

.item.left {
	grid-template-areas: "imageWrap title" "imageWrap textWrap";
	grid-template-columns: var(--imagewidth) auto;
	grid-template-rows: minmax(0, min-content) auto;
}

.item.left.notitle {
	grid-template-areas: "imageWrap" "textWrap";
}

.item.right.notitle {
	grid-template-areas:  "textWrap" "imageWrap";
}

.item.noimage {
	grid-template-areas: "title" "textWrap";
	grid-template-columns:  auto;
}

.item.right {
	grid-template-areas: "title imageWrap" "textWrap imageWrap";
	grid-template-columns:  auto var(--imagewidth);
}

.item.htop.left {
	grid-template-areas: "title title" "imageWrap textWrap";
}

.item.htop.right {
	grid-template-areas: "title title" "textWrap imageWrap";
}

.textWrap > p {
	margin-top:0;
}


@media screen and (max-width: 600px) {
	.item,.item.noimage,.item.htop, .item.right, .item.htop.right {
		display: block;
	}

	.item.munder {
		display: grid;
		grid-template-areas: "imageWrap" "title"  "textWrap";
		grid-auto-flow: row;
		grid-template-columns: auto; 
	}

}

