:root {
	--linkcolor: 000;
	--menucolor: var(--linkcolor);
	--menuhovercolor: var(--menucolor);
	--menubordercolor:var(--menucolor);
	--menuhicolor: var(--menucolor);
	--menugap: 4px;
	--menucolumngap: 0;
	--menuitempadding: 0 8px;
	--menuvalign: center;
}

.cs-menu ul {
	list-style: none;
	margin:0;
	padding-left: 0em;
    text-indent: 0px;
	display:grid;
	grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
	grid-gap:var(--menugap);
	grid-column-gap:var(--menucolumngap);
}

.cs-menu ul.submenu {
	transition:height 0.3s ease-in-out;
  	position: absolute;
  	top:0;
  	visibility: hidden;
  	z-index: 100;
  	width:100%;
}

.cs-menu li {
	position:relative;
	min-height:100%;
	display: flex;
	align-items: var(--menuvalign);
	padding:var(--menuitempadding);	
	color:var(--menucolor);
}

.cs-menu li.open > ul.submenu {
	position: absolute;
	visibility: visible;
	top:100%;
	margin-top:4px;
}

.cs-menu ul.submenu li.open > ul.submenu {
	left:100%;
	top:0;
	margin-top:0px;
	margin-left:4px;
}

.cs-menu.scheme-flex ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}

.cs-menu.scheme-flex li {
	margin-right:12px;
}

.scheme-vertical li.open > ul.submenu {
	position: static;
}

.cs-menu a {
	text-decoration: none;
}

.cs-menu a.hasmenu {
	padding-right:24px;
}

.cs-menu a svg {
	max-height:100%;
	width:16px;
	position: absolute;
	top:0;
	right:4px;
	transform: rotate(-90deg);
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in-out;
}

.cs-menu li:hover {
	color:var(--menuhovercolor);
}

.cs-menu li.open > a svg {
	transform: none;
}

.scheme-vertical ul {
	grid-template-columns: 1fr;
	grid-row-gap:var(--menugap);
}

.scheme-vertical ul.submenu  {
	grid-row-gap:0px;
}

.scheme-vertical a {
	display: block;
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}

.scheme-vertical .submenu a {
	background-color: #d4d4d4;
	padding-left:18px;
}

.scheme-vertical .submenu .submenu a {
	padding-left:36px;
}







