/* Now does all font handling including for headers etc
*/
:root {
	--text-font: Verdana;
	--font-size:100%;
	--title-font:inherit;
	/* Headings are the cross headers inside text items (see .textWrap) 
	usually we want headings to be the title font but sometimes
	we want something different. The sizes here only apply to these. 
	All sizes applied to titles are done by assigning a font size to the content section (for titles)
	or the cs title panel for e.g. general content sections */
	--heading-font: var(--title-font);
	--heading-font: inherit;
	--heading-font-weight:inherit;
	--heading-color:inherit;
	--heading-margin:0;
	--heading-padding:0;
}

body {
	font-family: var(--text-font);
	font-size: var(--font-size);
}

.cs-title, .title {
	font-family: var(--title-font);
}

/* Headings with text items */
.textWrap {
	--h1size: 140%;
	--h2size: calc(var(--h1size) * .9);
	--h3size: calc(var(--h1size) * .8);
	--h4size: 1em;
	--h5size: var(--h4size);
	--h6size: var(--h5size);
	--heading-font: var(--title-font);
	--heading-margin: 0 0 0.2em 0;
	
}

h1, h2, h3, h4, h5, h6 {
	margin: var(--heading-margin);
	font-family:  var(--heading-font);
	font-weight:  var(--heading-font-weight);
	color:  var(--heading-color);
}

h1 {
	font-size: var(--h1size);
}
h2 {
	font-size: var(--h2size);
}
h3 {
	font-size: var(--h3size);
}
h3 {
	font-size: var(--h4size);
}
h3 {
	font-size: var(--h5size);
}
h3 {
	font-size: var(--h6size);
}

