<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta name="author" content="{{author}}">
	<meta name="subject" content="{{subject}}">
	<meta name="date" content="{{date}}">
	<meta name="keywords" content="{{keywords}}">
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="https://www.coldlight.net/_styles/pdf/reset.css">
	<link rel="stylesheet" type="text/css" href="https://www.coldlight.net/_styles/pdf/standard.css">
	<link rel="stylesheet" type="text/css" href="https://www.coldlight.net/_styles/pdf/resume.css">
</head>
<body>
	
{{{body}}}

</body>
</html>